<h2>Olá {{ name }}</h2>

<p>
Você solicitou o cadastro de uma nova senha. Clique <a href="{{resetURL}}" target="_blank">aqui</a> para redefini-la.
</p>
<p>
    Caso não tenha sido você, por favor desconsidere este email.
</p>